#hero {
	background-image: url(images/bg.jpg);
	height: 780px;
    width:100%;
    background-size: cover;
	background-position: top center;
	position: relative;

	z-index: 1;

}

.card{
    padding: 20px;
    background: rgba(255, 255, 255, 1);
    border-radius: 15px;
    border: none;
    box-shadow: 0px 5px 10px rgb(34, 32, 32,0.2),
    0px 5px 10px rgba(0,0,0,0.1);
  }
.wel{
    margin-left: 26%;
    width: 50%;
}

.love{
    animation: pulse 1s ease infinite;
    display: inline-block;
}

@keyframes pulse {
    0%{transform: scale(1);}
    50%{ transform: scale(1.3);}
    100%{ transform: scale(1);}
}

@media screen and (max-width: 480px) {
    #hero {
        background-image: url(images/bg.jpg);
        height: 730px;
        width:100%;
        background-size: cover;
        background-position: top center;
        position: relative;
        z-index: 1;
    
    }
    .card{
        text-align: center;
        padding: 20px;
        background: rgba(255, 255, 255, 1);
        border-radius: 15px;
        border: none;
        box-shadow: 0px 5px 10px rgb(34, 32, 32,0.2),
        0px 5px 10px rgba(0,0,0,0.1);

      }
    .wel{
        margin-top: 45%;
        margin-left: 8%;
        width: 90%;
    }
}